<div class="me-container">

  <div class="row">
    <div class="col s12 m6">
      <img src="assets/img/mua_500_500.png">
    </div>
    <div class="col s12 m6">
      <h4>
        <mat-icon>person</mat-icon>
        Age :
      </h4>
      <p>
        21 ans
      </p>
      <h4>
        <mat-icon>desktop_windows</mat-icon>
        Présentation :
      </h4>
      <p>
        Je suis sérieux, déterminé, rigoureux et j’apprécie le travail en équipe.
      <h4>
        <mat-icon>star</mat-icon>
        Centres D’Intérêts :
      </h4>
      <p>
        Jeux de stratégie (jeux vidéo / jeux de société), Natation, Musculation.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h3>
        <mat-icon>info</mat-icon>
        À Propos :
      </h3>
      <p>
        Je suis en 2ème année de la formation INGESUP dans l'école Ynov. J'aime découvrir de nouveau langages et travailler en équipe autour de projets informatiques ( vous pouvez voir mes projets dans le portfolio ) ou découvrir ma formation INGESUP Je recherche actuellement un stage et une alternance dans le domaine du développement web ou applicatif.
      </p>
    </div>
    <div class="col s12 m6">
      <h3>
        <mat-icon>school</mat-icon>
        Autoformation :
      </h3>
      <p>
        Je sais m'autoformer et travailler en autonomie. Pour m'autoformer j'utilise Open Classroom et Lynda ( Le compte Lynda est fornis par mon école )
      </p>
    </div>
  </div>

</div>
